  <div id="git_comment" style="margin:0px 10px"></div>
  <!--<script src="/comment/gitment.browser.js"></script>-->
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
    var clientId = 'f1fa0416aaa0d04313b8'
    var clientSecret = '2dce873b193be30e67b4d7c73f25f937d3be736e'
    var gitment = new Gitment({
      id: window.location.pathname,
      owner: 'wangfan0840',
      repo: 'wgitment',
      oauth: {
        client_id: clientId,
        client_secret: clientSecret,
      },
    })

    gitment.render('git_comment')
  </script>