            <div class="col-lg-12">
              <ul class="list-unstyled">
              <li>
                <a href="http://tool.chinaz.com/tools/unicode.aspx" target="_blank" rel="nofollow">
                  站长之家 > Unicode编码转换
                </a>
              </li>
              <li>
                <a href="http://ip.chinaz.com/" target="_blank"  rel="nofollow">
                    站长工具 > IP/服务器地址查询
                </a>
              </li>	
              <li>
                <a href="http://seo.chinaz.com/" target="_blank" rel="nofollow">
                    站长工具 > SEO综合查询
                </a>
              </li>	


            </ul>
          </div>
